/* Variabes */
/* Mixin's */
body {
  background: #0c3a5f;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff;
  height: 100%;
  text-align: center;
  font-size: 12px;
}

#game{
    padding-top:10px;
    font-size:55px;
    width:100%;
    display:none;
}
canvas {
  color: rgb(255, 255, 255);
  border:#40ff00 solid 2px;
  padding: 15px;
}

h1, h2, h3 {
  font-family: sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}

h1 {
  font-size: 2.6em;
  color:#ff0080;
}

p {
  font-size: 20px;
  color:yellow;
}

#alphabet {
  margin: 15px auto;
  padding: 0;
  max-width: 900px;
}
#alphabet:after {
  content: "";
  display: table;
  clear: both;
}

#alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 30px;
  padding-top: 10px;
  background: #fff;
  color: #006699;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
   border: solid 1px black;
}
#alphabet li:hover {
  background: #c1d72e;
  border: solid 1px #fff;
  color: #fff;
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size: 1.6em;
}


#mylives {
  font-size: 1.6em;
  text-align: center;
  display: block;
}

button {

  background: #fff;
  color: #006699;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}
button:hover {
   background: #c1d72e;
  border: solid 1px black;
  color: #fff;
}

